p.para {
    margin: 10px;
    text-align: justify;
}
button {
    color: black;
}
.container {
    width: 810px;
    margin: 0px auto 0px;
    border: 2px solid black;
}

.pageheader {
    width: 810px;
    margin: 0px auto 0px;
    border: 2px solid black;
    background-color: black;
}

.pageheadertext {
    text-align: center;
    font-size: 40px;
    margin: 0px;
    color: white;
    font-weight: bold;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Verdana, sans-serif;
}

nav {
    width: 810px;
    margin: 0px auto 0px;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
}
nav a:hover{
    color: grey;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.links {
    border: 2px solid black;
    text-align: center;
    float: left;
    width: 20%;
    margin-top: 10px;
    transition: 0.4s all;
}
.links a:hover {
    color: grey;
    text-decoration: underline;
}
.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navig {
    margin: 0px;
}

.blogdisplay {
    border: 2px solid black;
    text-align: center;
    float: right;
    width: 78%;
    margin-top: 10px;
    height: 700px;
    overflow-y: scroll;
}

.blog {
    border: 2px solid black;
    text-align: center;
    width: 96%;
    margin-inline: 10px;
    margin-bottom: 10px;
}

.blogtitle {
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blogsubject {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blogdate {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blogwordcount {
    font-size: 20px;
    font-weight: bold;
    color: gray;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.titledisplay {
    display: inline-flex;
}

.blogbody {
    margin: 0px 15px 10px 15px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.blogbodytext {
    margin: 0px;
    text-align: justify;
}
.blogtitle {
    margin-bottom: 0px;
    margin-top: 10px;
    height: 20px;
}
.blogimage {
    width: 95%;
    margin: 10px 15px 10px 15px;
    float: center;
}
.collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: white;
    margin-top: 10px;
}
.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-right: 15px;
}
.active:after {
    content: "\2212";
}
