p.para {
    margin: 10px;
    text-align: justify;
}

.container {
    width: 810px;
    margin: 0px auto 0px;
    border: 2px solid black;
}

.pageheader {
    width: 810px;
    margin: 0px auto 0px;
    border: 2px solid black;
    background-color: black;
}

.pageheadertext {
    text-align: center;
    font-size: 40px;
    margin: 0px;
    color: white;
    font-weight: bold;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Verdana, sans-serif;
}

nav {
    width: 810px;
    margin: 0px auto 0px;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.links {
    border: 2px solid black;
    text-align: center;
    float: left;
    width: 20%;
    margin-top: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navig {
    margin: 0px;
}

.blogdisplay {
    border: 2px solid black;
    text-align: center;
    float: right;
    width: 78%;
    margin-top: 10px;
}

.blog {
    border: 2px solid black;
    text-align: center;
    width: 96%;
    margin-inline: 10px;
    margin-bottom: 10px;
}

.blogtitle {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blogsubject {
    font-size: 15px;
    color: gray;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blogdate {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blogwordcount {
    font-size: 12px;
    font-weight: bold;
    color: gray;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.titledisplay {
    display: flex;
    align-items: flex-end;
}

.blogbody {
    margin: 0px 10px 10px 10px;
    display: flex;
}

.blogbodytext {
    margin: 0px
}
